ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    display: flex;
    height: 23px;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}